.App {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 5px;
  padding: 5px;
}

.properties-container {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.property {
  width: 200px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.property-image {
  width: 150px;
}

.proprty-title,
.property-price {
  font-size: 14px;
}

.property-bio {
  font-size: 12px;
  color: rgb(124, 122, 122);
}

.property-price {
  color: rgb(77, 77, 77);
}
